<%= form_with(model: [@user, @group, @entity], local: true) do |form| %>
  <% if @entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
        <% @entity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.collection_select :group_id, @user.groups, :id, :name, prompt: 'Select a group' %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "create-entity-btn" %>
  </div>
<% end %>
