<div class="category-container">
  <h1 class="group-heading">CATEGORIES</h1>

  <% total_amount = @groups.sum(&:total_transactions_amount) %>
  <div id="all-groups-total">
    <div>Total Amount</div>
    <div><%= number_to_currency(total_amount) %></div>
  </div>

  <% @groups.each do |group| %>
    <div class="category-item" onclick="<%= group.id.present? ? "window.location='#{user_group_entities_path(user_id: @user.id, group_id: group.id)}';" : '' %>">
      <p><%= image_tag(group.icon) %></p>
      <div class="group-info">
        <h2 class="group-h2"><%= group.name %></h2>
        <p class="created-at"><%= group.created_at.strftime('%e %b %Y') %></p>
      </div>
      <div id="total-amount">
        <%= number_to_currency(group.total_transactions_amount) %>
      </div>
    </div>
  <% end %>

  <div class="green-btn">
    <%= link_to "Add a Category", new_user_group_path(@user), class: "category-btn" %>
  </div>
</div>
